@charset "UTF-8";

/* フィールドセットのスタイル */
fieldset {
	border: none;
	margin: 20px 0;
	background: #ffebcd;
	padding: 20px;
	border-radius: 10px;
}

fieldset label {
	display: inline-block;
	width: 100px;
	font-weight: bold;
	color: #8b4513;
}

fieldset .form-group {
	margin: 20px 0;
}

.error {
	color: red;
	margin-bottom: 10px;
	text-align: center;
}

a.btn,
button.btn {
	color: white;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	background-color: #ff69b4;
	/* ピンク色 */
	border-radius: 5px;
	cursor: pointer;
	border: none;
	padding: 10px 20px;
	text-decoration: none;
	display: inline-block;
	margin: 5px;
}

a.btn:hover,
button.btn:hover {
	background-color: #ff1493;
	/* 濃いピンク色 */
}

body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin: 20px;
	background: #fffaf0;
}

.center {
	text-align: center;
	margin: 20px 0;
}

.required::before {
	content: "※";
	color: red;
	margin-right: 5px;
}